name: Build and deploy coliapp.auth-ms to Azure

on:
    push:
        branches:
            - main

jobs:
    build-and-deploy:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v3
            
            - name: Login to Azure CR
              uses: azure/docker-login@v1
              with:
                  login-server: ${{ secrets.ACR_LOGIN_SERVER }}
                  username: ${{ secrets.ACR_USERNAME }}
                  password: ${{ secrets.ACR_PASSWORD }}

            - name: Build and push Docker image
              run: |
                  docker build -t ${{ secrets.ACR_LOGIN_SERVER }}/auth-ms:latest .
                  docker push ${{ secrets.ACR_LOGIN_SERVER }}/auth-ms:latest

            - name: Login to Azure
              uses: azure/login@v1
              with:
                  creds: ${{ secrets.AZURE_CREDENTIALS }}

            - name: Deploy to Azure App Service
              uses: azure/webapps-deploy@v2
              with:
                  app-name: 'coliapp-auth-ms'
                  images: '${{ secrets.ACR_LOGIN_SERVER }}/auth-ms:latest'